html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(180deg,#035161 0,#010024 100%) 
}


.navbar-brand a {
  color: #f0f0f0;
  padding: 10px 8px;
  border: 1px solid #fff;
  border-radius: 10px;
  height: 45.25px;
  width: 15vw;
  max-width: 198px;
  min-width: 156px;
  display: block;
  transition: all 0.5s;
}
.navbar-brand a:hover {
  color: #000;
  background-color: #fff;
}
.navbar-brand svg {
  display: block;
  margin: 0 auto;
}
.navbar .btn-outline-light, .navbar .btn-light {
  border-radius: 10px;
  padding: 9px 20px;
  font-size: 17px;
  min-width: 200px;
}

.spinner {
  animation: spinner 3s linear infinite;
}

@keyframes spinner { 
  100% { transform:rotate(360deg); } 
}

.short_address {
  width: 140px;
  white-space:nowrap;
  display: inline-flex;
  margin:0; 
  padding: 0;
}

.short_address > span {
  white-space: nowrap;
  overflow: hidden;
  vertical-align:middle;
}

.short_address .ellipsis {
  display: inline-block;
  width: calc(40% + 1.2em);
  text-overflow: ellipsis;
}

.short_address .indent {
  display:inline-flex;
  width: calc(60% - 1.2em);
  justify-content:flex-end;
}
